body {
    background-color: #D2EBF1;
    font-size: 20px;
}

p {
    margin-left: 50px;
    margin-right: 20px;
    font-family: Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}